<div class="container">
<div class="row">
<div class="col-xs-3">
</div>
<div class="col-xs-9">


<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜き価格</th>
			<th>ジャンル</th>
            <th>ステータス</th>
        </tr>
	</thead>
	<tbody>
        <% @items.each do |item| %>
		<tr>
			<td><%= item.id %></td>
			<td><%= link_to item.name, admin_item_path(item) %></td>
			<td><%= item.price %></td>
            <%# ↑カンマの表示をつける。例えば、1200ならｍ1,200と表示されるようにしたい %>
			<td><%= item.genre.name %></td>
			<td><%= item.sale_status %></td>
		</tr>
		<% end %>
	</tbody>
</table>

</div>
</div>
</div>