<h3>注文詳細画面</h3>

<table>
  <tr>
    <th>購入者</th>
    <th><%= @order.customer.family_name %><%= @order.customer.first_name %></th>
  </tr>
  <tr>
    <th>配送先</th>
    <th>
      <%= @order.postal_code %>
      <%= @order.street_address %>
      <%= @order.name %>
    </th>
  </tr>
  <tr>
    <th>支払方法</th>
    <th><%= @order.payment_method %></th>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <th><%= form_with(model: @order, url: admin_order_path, method: :patch ) do |f| %>
             <%#= f.select :order_status, Order.order_statuses.keys.to_a %><%#下記と一緒%>
             <%= f.select :order_status, Order.order_statuses.keys, {} %>
             <%= f.submit "更新"%>
        <% end %></th>
  </tr>
</table>
<br>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_details| %>
      <tr>
        <td><%= order_details.item.name %></td>
        <td><%= number_with_delimiter(order_details.item.price) %></td>
        <td><%= order_details.count %></td>
        <td><%= number_with_delimiter(order_details.order_amount) %></td>
        <td>
            <%= form_with(model: order_details, url: admin_order_detail_path(order_details.id), method: :patch) do |f| %>
              <%= f.select :production_status, OrderDetail.production_statuses.keys.to_a, {:selected => order_details.production_status} %>
              <%= f.submit "更新" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="total_price">
  <p>商品合計：<%= number_with_delimiter(@total_price) %></p>
  <p>送料：<%= number_with_delimiter(@order.postage) %></p>
  <p>請求金額合計：<%= number_with_delimiter(@order.charge) %></p>
</div>