<h3>注文詳細画面</h3>

<table>
  <tr>
    <th>購入者</th>
    <th><%= @order.name %></th>
  </tr>
  <tr>
    <th>配送先</th>
    <th><%= @order.postal_code %>
        <%= @order.street_address %></th>
    <%# <% binding.pry %>
  </tr>
  <tr>
    <th>支払方法</th>
    <th><%= @order.payment_method %></th>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <th><%= form_with(model: @order) do |f| %>
             <%#= f.select :order_status, Order.order_statuses.keys.to_a %><%#下記と一緒%>
             <%= f.select :order_status, Order.order_statuses.keys, {} %>
             <%= f.submit "更新"%>
        <% end %></th>
  </tr>
</table>
<br>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>注文詳細が出来次第追加</td>
    </tr>
  </tbody>
</table>