<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>購入者</th>
			<th>配送先</th>
			<th>支払方法</th>
			<th>注文ステータス</th>
        </tr>
	</thead>
	<tbody>
        <tr>
			<td><%= @order.customer.family_name %><%= @order.customer.first_name %></td>
			<td><%= @order.street_address %></td>
			<td><%= @order.order_status %></td>
			<td><%= @order.payment_method %></td>
		</tr>
	</tbody>
</table>

<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
            <th>製作ステータス</th>
        </tr>
	</thead>
	<tbody>
        <% @order_details.each do |order_details| %>
		<tr>
			<td><%= order_details.item.name %></td>
    	 	<td><%= number_with_delimiter(order_details.item.price) %></td>
    	 	<td><%= order_details.count %></td>
    	 	<td><%= number_with_delimiter(order_details.order_amount) %></td>
			<td><%= order_details.production_status %></td>
		</tr>
		<% end %>
	</tbody>
</table>

商品合計：<%= number_with_delimiter(@total_price) %>
送料：<%= number_with_delimiter(@order.postage) %>
請求金額合計：<%= number_with_delimiter(@order.charge) %>