<h2>注文情報確認</h2>

<!-- カートに入れた商品一覧 -->
<table class = "table" >
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td>
          <%= attachment_image_tag(item.item, :image, :fill, 60, 60, fallback: "no_image.jpg", size:'100x70') %>
          <%= item.item.name %>
        </td>
        <td><%= number_with_delimiter(tax_included_price(item.item.price)) %></td>
        <td><%= item.count %></td>
            <% a = 0 %>
            <% a += item.item.price * item.count %>
            <td><%= number_with_delimiter(tax_included_price(a)) %></td><%#itemの小計%>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- 金額欄 -->

<table class = "table" >
    <tr>
      <th>送料</th>
      <td><%= number_with_delimiter(@postage) %></td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td><%= number_with_delimiter(@price) %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><strong><%= number_with_delimiter(@price + @postage) %></strong></td>
    </tr>
</table>

<h4>支払い方法</h4>
<%= @order.payment_method %>

<h4>お届け先</h4>
<%= "〒" + @order.postal_code %>
<%= @order.street_address %><br>
<%= @order.name %>

<%= form_with(model: @order, url:orders_path, method: :post, local: true) do |order| %>
  <%= order.hidden_field :postage, :value => @postage %>
  <%= order.hidden_field :charge, :value => @price %>
  <%= order.hidden_field :payment_method, :value => @order.payment_method %>
  <%= order.hidden_field :name, :value => @order.name %>
  <%= order.hidden_field :postal_code, :value => @order.postal_code %>
  <%= order.hidden_field :street_address, :value => @order.street_address %>
  <%= order.submit "購入を確定する", class: 'btn btn-success btn-lg' %>
<% end %>
