<br>
<h3>注文情報入力</h3>

<table class = "table" >
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
    <tbody>
    <%= @items.each do |item| %>
      <tr>
        <td>
          <%= attachment_image_tag item, :image, :fill, 50, 50, fallback: "no_image.jpg", size:'150×100' %>
          <%= item.item_id.name %>
        </td>
        <td><%= number_with_delimiter(item.item_id.price) %></td>
        <td><%= item.count %></td>
        <td><%= current_customer.cart_item.item.price * current_customer.cart_item.count %></td><%#itemの小計%>
      </tr>
      <% end %>
    </tbody>
</table>    
<table class = "table" >
  <thead>
    <tr>
      <th>送料</th>
      <th><%= @order.payment_method %></th>
    </tr>
    <tr>
      <th>商品合計</th>
      <th><%= %></th>
    </tr>
    <tr>
      <th>請求金額</th>
      <th><%= 商品合計 + Order.payment_method %></th>
    </tr>
  </thead>
</table>

<% form_with(model: @order, url:orders_path, method: :post) do |order| %>
  <%= 支払い方法 %>
  <%= order.hidden_field :payment_method, value => order.payment_method %>
  <br>
  <%= お届け先 %>
  <%= order.hidden_field :deliver_id, value => order.deliver_id %> 
  <%= orde.submit %>
<% end %>