<br>
<h3>注文情報入力</h3>

<table class = "table" >
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
    <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td>
          <%= attachment_image_tag item.item, :image, :fill, 50, 50, fallback: "no_image.jpg", size:'150×100' %>
          <%= item.item.name %>
        </td>
        <td><%= number_with_delimiter(item.item.price) %></td>
        <td><%= item.count %></td>
            <% a = 0 %>
            <% a += item.item.price * item.count %>
            <td><%= a %></td><%#itemの小計%>
      </tr>
      <% end %>
    </tbody>
</table>
<table class = "table" >
  <thead>
    <tr>
      <th>送料</th>
      <th><%= @postage %></th>
    </tr>
    <tr>
      <th>商品合計</th>
      <th><%= @price %></th>
    </tr>
    <tr>
      <th>請求金額</th>
      <th><%= @price += @postage %></th>
    </tr>
  </thead>
</table>
<div>支払い方法</div>
<%= @order.payment_method %>
<div>お届け先</div>
<%= @order.name %>
<%= @order.postal_code %>
<%= @order.street_address %>

<%= form_with(model: @order, url:orders_path, method: :post, local: true) do |order| %>

  <%#binding.pry%>
  <%= order.hidden_field :postage, :value => @postage%>
  <%= order.hidden_field :charge, :value => @price%>
  <%= order.hidden_field :payment_method, :value => @order.payment_method %>
  <%= order.hidden_field :name, :value => @order.name %>
  <%= order.hidden_field :postal_code, :value => @order.postal_code %>
  <%= order.hidden_field :street_address, :value => @order.street_address %>
  <%= order.submit %>
<% end %>
