<br>
<h3>注文情報入力</h3>

<table class = "table">
<%= form_with(model: @order, local: true) do |order| %>
  <tr>
    <h3><strong>支払方法</strong></h3>
    <th>
      <%= order.radio_button :payment_method, :on %>
      <%= order.label :payment_method, "クレジットカード", {value: :on}%>
    </th>
    <th>
      <%= order.radio_button :payment_method, :off %>
      <%= order.label :payment_method, "銀行振込", {value: :off}%>
    </th>
  </tr>
<br>
<h3><strong>お届け先</strong></h3>
    <tr>
      <th>
        <%# <%= order.radio_button :deliver_id, %> %>
      </th>
    </tr>
<% end %>
</table>
