<br>
<h3>注文情報入力</h3>


<%= form_with model: @order, url: orders_path, method: :get do |order| %>
  
    <p><strong>支払方法</strong></p>
    
      <%= order.radio_button :payment_method, :on %>
      <%= order.label :payment_method, "クレジットカード", {value: :on}%>
    
      <%= order.radio_button :payment_method, :off %>
      <%= order.label :payment_method, "銀行振込", {value: :off}%>
    
<br>
<p><strong>お届け先</strong></p>
    
        <%= order.radio_button :deliver_id, :"ご自身の住所"%>
        <%= order.label :deliver_id, "ご自身の住所", {value: "ご自身の住所"} %>
        <p><%= "〒" + current_customer.postal_code + current_customer.street_address + current_customer.family_name + current_customer.first_name %><p>
      <br>
        <%= order.radio_button :deliver_id, :"登録済住所から撰択"%>
        <%= order.label :deliver_id, "登録済住所から撰択", {value: "登録済住所から撰択"}%>
        <%= order.collection_select :street_address, @address, :id, :street_address %>
      <br>
        <%= order.radio_button :deliver_id, :"新しいお届け先" %>
        <%= order.label :deliver_id, "新しいお届け先", {value: "新しいお届け先"} %><br>
        <%= "郵便番号(ハイフンなし)" %><%= order.text_field :postal_code %><br>
        <%= "住所" %><%= order.text_field :street_address %><br>
        <%= "宛名" %><%= order.text_field :name %>
      <br>
        <%= order.submit "確認画面へ進む" %>
<% end %>