<br>
<h3>注文情報入力</h3>


<%= form_with(model: @order, local: true) do |order| %>
  
    <p><strong>支払方法</strong></p>
    
      <%= order.radio_button :payment_method, :on %>
      <%= order.label :payment_method, "クレジットカード", {value: :on}%>
    
      <%= order.radio_button :payment_method, :off %>
      <%= order.label :payment_method, "銀行振込", {value: :off}%>
    
<br>
<p><strong>お届け先</strong></p>
    
        <%= radio_button_tag :deliver_id, :order.customer_id%>
        <%= order.label :deliver_id, "ご自身の住所", {value: :order.customer_id}%>
        <%= order.customer.postal_code%><%= order.customer.street_address %><br>
        <%= order.customer.family_name %><%= order.customer.first_name %>
      <br>
        <%= radio_button_tag :deliver_id, :order.deliver_id%>
        <%= order.label :deliver_id, "登録済住所から撰択"%>
        <%= order.select :deliver_id, order.deliver_id.keys, {} %>
      <br>
        <%= radio_button_tag :deliver_id, :order %>
        <%= order.label :deliver_id, "新しいお届け先"%>
        <%= "郵便番号(ハイフンなし)" %><%= order.postal_code %><br>
        <%= "住所" %><%= order.street_address%><br>
        <%= "宛名" %><%= order.name %>
      <br>
        <%= order.submit "確認画面へ進む" %>
<% end %>>
