<h3>ショッピングカート<h3>
  <%= link_to 'カートを空にする', destroy_allパス指定ができたら, method: :destroy_all %>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan ="1" ></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
    <tr>
      <td><%= attachment_image_tag item, :image, :fill, 70, 40,%><%= cart.name %></td>
      <td><%= cart.price %></td>
      <td><%= form_with model: cart do |f| %>
            <%= f.number_field :count %>
            <%= f.submit %>
            <% end %>
      </td>
      <td><%= @price %></td>
      <td><%= limk_to '消去する', destroyパスができたら, %>