<div class="container">
<div class="row">

  <div class="col-xs-3">
    <!-- ジャンル検索サイドバー -->
    <%= render 'genre_search', genres: @genres %>
  </div>

  <div class="col-xs-9">
    <!-- 商品一覧を表示 -->
    <h2><%= @info %>一覧(全<%= @counts %>件)</h2><br>

    <div class="main clearfix">
      <% @items.each do |item| %>
      <div class = "AA">
        <p>
        <%= attachment_image_tag item, :image, :fill, 60, 60, fallback: "no_image.jpg", size:'150x100' %>
      </p>
      <p>
        <%= link_to item.name, item_path(item) %>
      </p>
      <p>
        <%= number_with_delimiter(item.price) %>
      </p>
      </div>
      <% end %>
    </div>
    <%= paginate @items, class: "paginate" %>
  </div>

</div>
</div>
