<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="container">
<div class="row">

  <div class="col-xs-3">
    <!-- ジャンル検索サイドバー -->
    <%= render 'genre_search', genres: @genres %>
  </div>

  <div class="col-xs-9">
    <!-- 商品一覧を表示 -->
    <h2><%= @info %>一覧(全<%= @counts %>件)</h2><br>

    <%= render 'items/index', items: @items %>

    <%= paginate @items, class: "paginate" %>
  </div>

</div>
</div>
