<div class="container">
<div class="row">

  <div class="col-xs-3">
    <!-- ジャンル検索サイドバー -->
    <%= render 'genre_search', genres: @genres %>
  </div>

  <div class="col-xs-9">
    <!-- 商品一覧を表示 -->
    <h2><%= @info %>一覧(全<%= @counts %>件)</h2><br>
      <% @items.each do |item| %>
        <%= attachment_image_tag item, :image, :fill, 60, 60, fallback: "no_image.jpg", size:'150x100' %>
        <%= link_to item.name, item_path(item) %>
        <%= number_with_delimiter(item.price) %>
      <% end %>
      <%= paginate(@items) %>
  </div>


        <ul>
         <% @items.each do |item| %>
         <li><%= item.name %></li>
         <% end %>
        </ul>

        </div>

        <div class="col-xs-9">


        <h4>商品一覧</h4>
</div>
</div>
