<div class="container">
<div class="row">

  <div class="col-xs-2">
    <!-- ジャンル検索サイドバー -->
    <%= render 'genre_search', genres: @genres %>
  </div>

  <div class="col-xs-4">
    <%= attachment_image_tag @item, :image, :fill, 60, 60, fallback: "no_image.jpg", size:'300x200' %>
  </div>

  <div class="col-xs-6">
    <h2><%= @item.name %></h2>
    <%= @item.description %>
    <h4><%= number_with_delimiter(tax_included_price(@item.price)) %>(税込)</h4>
    <!-- 商品個数選択プルダウン -->
    <%= form_for @cart_item, url: cart_item_path do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
       <%= f.number_field :count, min: 0, max: 100 %>
      <%= f.submit "カートに入れる", class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>
</div>
