<div class="container">
<div class="row">

  <!-- ジャンル検索サイドバー -->
  <div class="col-xs-3">
    <h4>ジャンル検索</h4>
    <ul>
      <% @genres.each do |genre| %>
      <li>
      <!-- ↓リンクではなくジャンルの検索機能にする -->
        <%= link_to items_path do %>
        <%= genre.name %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-9">
  <!-- トップビジュアル -->
    <div class="main-visual">
      <p class="main-visual-text">
        ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>

  <!-- 商品ID上から4件をオススメとして表示 -->
    <div class="item-picup">
      <% @items.each do |item| %>
        <%= attachment_image_tag item, :image, :fill, 60, 60, fallback: "no_image.jpg", size:'150x100' %>
        <%= link_to item.name, item_path(item) %>
        <%= number_with_delimiter(item.price) %>
      <% end %>
    </div>
  </div>

</div>
</div>
