<!DOCTYPE html>
<html>
<head>
  <title>Naganocake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar clearfix navbar-fixed-top navbar-inverse">
      <ul class="nav navbar-nav navbar-left">
            <!-- ↓リンク先がルートパスになってるので、管理者ログイン時のトップページにも行けるようにしたい -->
            <%= link_to(image_tag("logo.png", size: "344*65"), root_path) %>
      </ul>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if customer_signed_in? %>
            <span>ようこそ  <%= current_customer.family_name %> <%= current_customer.first_name %> さん！</span>
            <%= link_to 'マイページ', customer_path(current_customer.id), class: 'btn btn-default test' %>
            <%= link_to '商品一覧', items_path, class: 'btn btn-default test' %>
            <%= link_to 'カート', carts_path, class: 'btn btn-default test' %>
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'btn btn-default test' %>
          <% elsif admin_signed_in? %>
            <%= link_to '商品一覧', admin_items_path, class: 'btn btn-default test' %>
            <%= link_to '会員一覧', admin_customers_path, class: 'btn btn-default test' %>
            <%= link_to '注文履歴一覧', admin_order_details_path, class: 'btn btn-default test' %>
            <%= link_to 'ジャンル管理', admin_genres_path, class: 'btn btn-default test' %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-default test' %>
          <% else %>
            <%= link_to '商品一覧', items_path, class: 'btn btn-default test' %>
            <%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-default test' %>
            <%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-default test' %>
            <%= link_to '管理者はこちら', new_admin_session_path %>
          <% end %>
        </ul>
      </nav>
  </header>
  <div class="body">
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
