<!DOCTYPE html>
<html>
<head>
  <title>Naganocake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar clearfix navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <div class="panel panel-default test">
          <div class="panel-body">
            ながのCAKE
          </div>
        </div>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if customer_signed_in? %>
            
            <%= link_to 'マイページ', customer_path(current_customer.id), class: 'btn btn-default test' %>
            <%= link_to '商品一覧', '#', class: 'btn btn-default test' %>
            <%= link_to 'カート', carts_path, class: 'btn btn-default test' %>
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'btn btn-default test' %>
          <% elsif admin_signed_in? %>
            <%= link_to '商品一覧', '#', class: 'btn btn-default test' %>
            <%= link_to '会員一覧', '#', class: 'btn btn-default test' %>
            <%= link_to '注文履歴一覧', '#', class: 'btn btn-default test' %>
            <%= link_to 'ジャンル管理', '#', class: 'btn btn-default test' %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-default test' %>
          <% else %>
            <%= link_to '商品一覧', '#', class: 'btn btn-default test' %>
            <%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-default test' %>
            <%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-default test' %>
            <%= link_to '管理者はこちら', new_admin_session_path %>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="body">
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
